<{includeq file='db:imaudit_header.html'}>

<{foreach item=imaudit_post from=$imaudit_posts}>
	<div class="imaudit_post_container">

	<div class="post-date">
		<span class="month"><{$imaudit_post.post_month_short}></span>
		<span class="day"><{$imaudit_post.post_day_number}></span>
	</div>
		<h1 class="post-title"><{$imaudit_post.itemLink}></h1>
		<div class="imaudit_post_info"><{$imaudit_post.post_info}> <{$smarty.const._CO_IMAUDIT_POST_BY}> <img src="<{$imaudit_images_url}>user.gif" alt="" /> <{$imaudit_post.post_uid}>
		<{if $imaudit_post.categories}>
		<div class="left_main">
		<div class="imaudit_post_filed_under"><{$smarty.const._CO_IMAUDIT_FILED_UNDER}></div>
			<div class="imaudit_post_categories">
				<{foreach item=category from=$imaudit_post.categories name=loop}>
					<a href="index.php?cid=<{$category.id}>"><{$category.title}></a><{if !$smarty.foreach.loop.last}>, <{/if}>
			 	<{/foreach}>
			 </div>
		</div>
		<{/if}>
		</div>
		<div class="imaudit_post_content">
			<{$imaudit_post.post_lead}>
		</div>

		<div class="imaudit_post_comments">
			<{$imaudit_post.post_comment_info}>
		</div>
		<{if $imaudit_post.userCanEditAndDelete}>
			<div class="imaudit_admin_links"><{$imaudit_post.editItemLink}><{$imaudit_post.deleteItemLink}></div>
		<{/if}>
	</div>
<{/foreach}>
<{if $navbar}>
	<div id="imaudit_navbar"><{$smarty.const._MD_IMAUDIT_NAV_PAGES}> <{$navbar}></div>
<{/if}>

<{includeq file='db:imaudit_footer.html'}>