<{includeq file='db:imaudit_header.html'}>

<{if $imaudit_changeset_table}>
	<div id="imaudit-changeset-table">
		<{if $imaudit_branchesArray}>
			<div class="imaudit_select_branch">
				<{$smarty.const._MD_IMAUDIT_BRANCH_SELECT}>
				<{foreach item=imaudit_branch from=$imaudit_branchesArray key=key name=loop}>
					<a href="changeset.php?branch_id=<{$key}>"><{$imaudit_branch}></a><{if !$smarty.foreach.loop.last}>, <{/if}>
				<{/foreach}>
			</div>
		<{/if}>

		<h1><{$imaudit_title}></h1>
		<{$imaudit_changeset_table}>
	</div>
<{/if}>

<{if $imaudit_changeset}>
	<div id="imaudit-changeset-container">
		<div class="imaudit-changeset-date"><{$imaudit_changeset.timestamp}>, <{$imaudit_changeset.branch_id}></div>
		<h1><{$smarty.const._CO_IMAUDIT_CHANGESET_CHANGESET}> <{$imaudit_changeset.changeset_number}></h1>
		<div><{$imaudit_changeset.message}></div>
		<div class="imaudit-changeset-footer">
			<div<b><{$smarty.const._CO_IMAUDIT_CHANGESET_LINK}></b>: <a href="<{$imaudit_changeset.link}>"><{$imaudit_changeset.link}></a></div>
			<div><b><{$smarty.const._CO_IMAUDIT_CHANGESET_STATUS}></b>: <{$imaudit_changeset.status}></div>
		</div>
	</div>

	<h2><{$smarty.const._MD_IMAUDIT_REVIEW_CREATE}></h2>
	<div><{$smarty.const._MD_IMAUDIT_REVIEW_CREATE_INFO}></div>
	<{if $imaudit_notification_info}>
			<br />
			<div><{$imaudit_notification_info}></div>
	<{/if}>

	<{if $addreview}>
		<{includeq file='db:system_common_form.html' form=$addreview}>
	<{/if}>

	<{if $imaudit_review_table}>
		<h1><{$imaudit_title}></h1>
		<{$imaudit_review_table}>
	<{/if}>

<{/if}>

<{includeq file='db:imaudit_footer.html'}>