<{includeq file='db:imaudit_header.html'}>

<div id="imaudit_reviewing_status">
	<{$smarty.const._MD_IMAUDIT_REVIEWING_STATUS}>
	<{foreach item=imaudit_status from=$imaudit_statusArray key=key name=loop}>
		<{if $imaudit_status_id==$key}><{$imaudit_status}><{else}><a href="reviewing.php?status_id=<{$key}><{if $imaudit_branch_id}>&branch_id=<{$imaudit_branch_id}><{/if}>"><{$imaudit_status}></a><{/if}><{if !$smarty.foreach.loop.last}>, <{/if}>
	<{/foreach}>
</div>

<{if $imaudit_changeset}>
	<div id="imaudit-changeset-container">
		<div class="imaudit-changeset-date"><{$imaudit_changeset.timestamp}>, <{$imaudit_changeset.branch_id}></div>
		<h1><{$smarty.const._CO_IMAUDIT_CHANGESET_CHANGESET}> <{$imaudit_changeset.changeset_number}></h1>
		<div><{$imaudit_changeset.message}></div>
		<div class="imaudit-changeset-footer">
			<div><b><{$smarty.const._CO_IMAUDIT_CHANGESET_LINK}></b>: <a href="<{$imaudit_changeset.link}>"><{$imaudit_changeset.link}></a></div>
			<div><b><{$smarty.const._CO_IMAUDIT_CHANGESET_STATUS}></b>: <{$imaudit_changeset.status}></div>
		</div>
	</div>
	<form id="quickreview" name="quickreview" action="review.php" method="post" enctype="multipart/form-data">
        <input name="changeset_id" id="changeset_id" value="<{$imaudit_review.changeset_id}>" type="hidden">
        <input name="reviewer" id="reviewer" value="<{$xoops_userid}>" type="hidden">
        <input name="review_date" id="review_date" value="<{$imaudit_now}>" type="hidden">
        <input name="op" id="review_date" value="addreview" type="hidden">
        <input name="suggested_status" id="suggested_status" value="" type="hidden">
        <b><{$smarty.const._MD_IMAUDIT_REVIEWING_QUICK}></b>
        <input class="formButton" name="modify_button" id="modify_button" value="<{$smarty.const._MD_IMAUDIT_REVIEWING_APPROVED}>" onclick="this.form.elements.suggested_status.value='3'" type="submit">
        <input class="formButton" name="modify_button" id="modify_button" value="<{$smarty.const._MD_IMAUDIT_REVIEWING_IGNORE}>" onclick="location='reviewing.php?offset=<{$imaudit_offset}><{if $imaudit_branch_id}>&branch_id=<{$imaudit_branch_id}><{/if}><{if $imaudit_status_id}>&status_id=<{$imaudit_status_id}><{/if}>'" type="button">
	</form>

	<br />
	<{if $addreview}>
		<{includeq file='db:system_common_form.html' form=$addreview}>
	<{/if}>
	<div><{$smarty.const._MD_IMAUDIT_REVIEW_CREATE_INFO}></div>
	<{if $imaudit_notification_info}>
			<br />
			<div><{$imaudit_notification_info}></div>
	<{/if}>

	<{if $imaudit_review_table}>
		<h1><{$imaudit_title}></h1>
		<{$imaudit_review_table}>
	<{/if}>
<{else}>
	<h1><{$smarty.const._CO_IMAUDIT_REVIEWING_NOTHING}></h1>
<{/if}>

<{includeq file='db:imaudit_footer.html'}>